[2015-05-15 18:39] patrickocoffeyo opened #5 "Create Aquifer npm module that defines the `aquifer` command."

[2015-05-15 18:40] patrickocoffeyo opened #6 "Create a Console api that provides logging tools for the aquifer CLI"

[2015-05-15 18:42] patrickocoffeyo opened #7 "Create a "Project" API"
The Project API should be an object that represents an Aquifer-based Drupal project in it's entirety. It should contain information needed to create, build, install, and deploy a project.

[2015-05-15 18:42] patrickocoffeyo opened #8 "Build a 'create' command"
This command should scaffold an Aquifer Drupal project using the Project API.

[2015-05-15 18:43] patrickocoffeyo opened #9 "Create a Build command and API"

[2015-05-15 18:43] #9 closed, assigned to nobody

[2015-05-15 18:44] #8 closed, assigned to patrickocoffeyo

[2015-05-15 18:44] #7 closed, assigned to patrickocoffeyo

[2015-05-15 18:44] #5 closed, assigned to patrickocoffeyo

[2015-05-15 18:44] #6 closed, assigned to patrickocoffeyo

[2015-05-15 18:53] patrickocoffeyo opened #10 "Create a deployment api and command."
Aquifer needs to have a deployment system that is completely extendible. It should allow users to install npm modules that create deployment options easily.
## What is a deployment option?

A deployment option will be an npm module that provides the code necessary to deploy an Aquifer Drupal site to a given service or environment. When Aquifer initializes, it will collect the enabled deployment op

[2015-05-18 18:36] chasingmaxwell commented on #10
@patrickocoffeyo I'm going to start working on the pantheon deployment module.

[2015-07-09 18:44] patrickocoffeyo commented on #10
This is being deprecated in favor of the extension system.

[2015-07-09 18:44] #10 closed, assigned to patrickocoffeyo

[2015-07-09 18:51] patrickocoffeyo opened #16 "Drush Aliases"
As a developer, I would like to run drush commands against all the environments that I may have my application deployed to at any given time:

`drush @my-vagrant-instance cc all`

I would also like to be able to run Aquifer commands against a specific environment, such as `aquifer rebuild`.

`aquifer @my-vagrant-instance rebuild`

I would like Aquifer to automatically maintain drush aliases for ea

[2015-07-09 18:51] patrickocoffeyo commented on #16
@chasingmaxwell @fluxsauce @mattgrill @JeffTomlinson let's discuss this... how should this problem be solved?

[2015-07-09 18:55] patrickocoffeyo opened #17 "Pantheon Deployment"
As a developer, I would like to be able to deploy my Drupal site to a Pantheon instance easily using Aquifer. Deploying to pantheon should include these steps:
- Make sure terminus is installed and configured.
- Install aquifer-pantheon: `aquifer extension-add aquifer-pantheon`
- Configure aquifer-pantheon:

[code]
- Deploy to pantheon: `aquifer deploy-pantheon --environment dev`

[2015-07-09 19:00] patrickocoffeyo opened #18 "Vagrant Deployment"
As a developer, I would like to run my Aquifer site in a vagrant instance easily.

Deploying my site to vagrant should include completing these steps:
- Make sure vagrant and virtualbox are installed and configured.
- Install aquifer-vagrant: `aquifer extension-add aquifer-vagrant`
- Configure aquifer-vagrant:

[code]
- Deploy to vagrant: `aquifer deploy-vagrant`
- Refreshing vagrant instance: `aq

[2015-07-09 19:21] patrickocoffeyo opened #19 "D8 support"
I am of the opinion that Aquifer should support D8 in v1.0.0. However, there are a number of architectural problems that we need to discuss, document, and solve.
## Should Aquifer support D8 and D7 in one version?

I am of the opinion that we should. Since Aquifer is a global CLI, it would be a pain to have to switch between D7 and D8 Aquifer versions just to work on two different Aquifer projects

[2015-07-09 19:37] patrickocoffeyo opened #20 "Decide on a name for this project"
I named this project Aquifer because it's like an aquifer for Drupal drops... since it's a scaffolding tool for Drupal... get it? :no_good:

I personally like the name Aquifer quite a bit. Rolls of the tongue, easy to type, great as a command line. However multiple parties have pointed out that it sounds very similar to "Aquia", which is a very different entity that this project is in no way assoc

[2015-07-09 19:41] patrickocoffeyo opened #21 "Behat Tests"
As a developer, I would like to be able to define, and run behat tests on my Aquifer project easily.

Using behat should include the following steps:
- Install aquifer-behat: `aquifer extension-add aquifer-behat`
- Configure aquifer-behat:

[code]
- Define a behat test: `vim tests/feature/whatever.behat`
- Run all behat tests: `aquifer behat`
- Run one behat test: `aquifer behat path/to/tests`

[2015-07-09 19:47] patrickocoffeyo opened #22 "Coding Standards"
As a developer, I would like to be able to sniff my code for Drupal Coding Standards Violations.

To sniff my code, I would like to complete the following steps:
- Run `aquifer extension-add aquifer-cs`
- Configure aquifer-cs:

[code]
- Run coding standard sniffer on the entire custom codebase: `aquifer cs`
- Run coding standard sniffer on one custom module/theme: `aquifer cs path/to/thing`

[2015-07-09 19:49] chasingmaxwell commented on #21
Yay!

[2015-07-09 20:16] fluxsauce commented on #20
Too close to Acquia for my tastes. I also try to type `acquifer` a lot, and there's already https://github.com/acquifer which is confusing.

https://www.twdb.texas.gov/groundwater/aquifer/major.asp

Trinity? https://www.twdb.texas.gov/groundwater/aquifer/majors/trinity.asp

https://github.com/buildtrinity

[2015-07-09 20:26] chasingmaxwell commented on #20
I also like Aquifer. I didn't immediately think of Acquia when I heard it, but I can see how others did. How about Aqueduct? Is that still too similar? Kind of keeps the same idea of providing a scaffolding that transports Drupal drops, but doesn't sound as similar to Acquia.

[2015-07-09 20:29] JeffTomlinson commented on #20
I think it's too close to Acquia. I sometimes found myself typing acquifer when testing.
I like aqueduct but maybe still too close?
arroyo?

[2015-07-09 20:42] fluxsauce commented on #16
Generate a PHP file named `aquifer.aliases.drushrc.php` and copy it to `~/.drush`.

[code]

If the database credentials are known, then you can include that. The extension system, such as for Vagrant, should be able to add to it.

[code]

`drush cc drush` then `drush @aquifer.pizza status` would then work.

[2015-07-09 21:36] patrickocoffeyo commented on #20
I like the concept of "scaffolding by transporting Drupal drops". Trinity is a great cli name, I like that, but I'm afraid the meaning may escape most people.

What about well? https://github.com/drupalwell

`well create mysitename`
`well build`
`well deploy-vagrant`
`well cs /modules/custom/me`

[2015-07-09 21:51] patrickocoffeyo opened #23 "Drush Make output double spaced"
https://github.com/aquifer/aquifer/pull/14 when running `aquifer build`:

![screen shot 2015-07-09 at 4 56 37 pm](https://cloud.githubusercontent.com/assets/1107871/8607840/8537d546-265b-11e5-9f90-5a213c47160d.png)

[2015-07-09 21:51] patrickocoffeyo opened #24 "Improve name of build directory"
https://github.com/aquifer/aquifer/pull/14 when running `aquifer build`:

[2015-07-09 21:53] patrickocoffeyo commented on #24
I'm a fan of building to `/public` instead of `/builds/work`.

History; initially, the plan was to support having multiple builds running at the same time, but after some thought, it was decided that this wasn't useful.

[2015-07-13 19:23] patrickocoffeyo commented on #20
I've been informed the project is being referenced and discussed publicly. Changing the name right now might harm or at least confuse interested parties, and so, I'm voting that we shelve this issue for now. I understand that cross-brand confusion could potentially become a real problem, but given that this project is already getting attention, I think changing the name at this stage may be more h

[2015-07-13 19:27] patrickocoffeyo opened #25 "Aquifer Branding"
Considering [recent conversations](https://github.com/aquifer/aquifer/issues/20) about the possibility of cross-brand confusion (Aquifer vs Acquia), I feel that it's very important to create a distinctive, recognizable set of brand colors, and a logo for Aquifer.

This branding would be used within the CLI, would become the GH org logo, and would be used in any Aquifer-related landing pages, docum

[2015-07-15 22:28] patrickocoffeyo commented on #25
Also, as a fun note, Aquifer has a console api that chooses all sorts of colors that make it a bit more grokable in the command line: https://github.com/aquifer/aquifer/blob/master/lib/console.api.js

Perhaps we can implement some brand colors in the cli too? IDK if that's plausible, but it would be kinda cool.

[2015-07-15 23:08] astanush commented on #25
I've always been a fan of 3D cutaway diagrams. Looking through some [aquifer diagrams](https://www.google.com/search?q=aquifer&rlz=1C5CHFA_enUS503US503&espv=2&biw=1279&bih=1318&source=lnms&tbm=isch&sa=X&ved=0CAYQ_AUoAWoVChMInaSrwpjexgIVwpWICh1ahQa-), a treatment on this imagery could look cool.

As an experiment, I drew a vector version to see what one of these diagrams would look like without lab

[2015-07-16 01:03] patrickocoffeyo commented on #25
I really like the idea of using a cutaway diagram! Perfect for visually demonstrating the concept of an aquifer.

[2015-07-24 19:17] patrickocoffeyo commented on #19
For the build system, we can use composer instead of Drush Make for Drupal 8... perhaps we can even use composer with Drupal 7?

http://tim.millwoodonline.co.uk/post/124913346140/drupal-8-composer

[2015-08-18 16:47] chasingmaxwell opened #26 "Improve build location configurability"
Currently it is not possible to have a build location outside the project. Any reason not to do this? Also, can we make the "work" directory configurable? If y'all are agreeable to these changes I'm happy to submit the PR.

[2015-08-18 17:26] chasingmaxwell opened #27 "Handling of files directory"
I'm setting up a new site and in the install requirements page I get this error:

[code]

Should we create the files directory if it doesn't exist and allow configuration of where it should be?

[2015-08-19 16:15] chasingmaxwell opened #28 "Make build, create, and refresh commands available outside commander"
If extensions want to trigger a build they would have to use spawn or something to trigger the commands action since it's an anonymous function. That seems silly. We should define the core commands such that they can be invoked from extensions.

[2015-08-20 17:39] chasingmaxwell commented on #28
This was a misunderstanding on my part. Nothing to see here!

[2015-08-20 17:39] #28 closed, assigned to nobody

[2015-09-09 02:04] JeffTomlinson commented on #26
Work directory is now configurable. I agree it could be useful to build outside the project and would be helpful on my local dev as it's currently configured.

[2015-09-09 15:01] patrickocoffeyo opened #37 "Add documentation for file structure"

[2015-09-09 18:01] patrickocoffeyo opened #40 "Licensing"
Let's talk about licensing. What license should Aquifer have?

I'm personally a fan of either MIT or GPL-2.

[2015-09-09 23:03] JeffTomlinson commented on #37
Took an initial stab at this here: https://github.com/aquifer/aquifer/wiki/Aquifer-project-directories

[2015-09-10 21:32] JeffTomlinson commented on #27
This was addressed in this PR: https://github.com/aquifer/aquifer/pull/42

[2015-09-11 16:11] patrickocoffeyo commented on #24
This was resolved in https://github.com/aquifer/aquifer/pull/38

[2015-09-11 16:11] #24 closed, assigned to patrickocoffeyo

[2015-09-11 16:12] patrickocoffeyo commented on #20
This has been shelved for awhile now. I'm closing this. If we decide to revisit renaming Aquifer in the future, we can use this as a starting point of discussion.

[2015-09-11 16:12] #20 closed, assigned to nobody

[2015-09-11 17:10] JeffTomlinson commented on #40
Why not just align with Drupal on GPL-2?

[2015-09-11 18:33] patrickocoffeyo commented on #37
@JeffTomlinson This is great!

[2015-09-11 18:33] #37 closed, assigned to nobody

[2015-09-11 18:34] patrickocoffeyo commented on #40
I'm good with that, in fact GPL-2 is my preference.

[2015-09-28 19:24] fluxsauce opened #49 "config_file does not accept home directory"
[code]

[2015-09-28 19:33] fluxsauce opened #50 "Support Drush Make YML files"
http://www.drush.org/en/master/make/

[2015-09-29 18:39] chasingmaxwell opened #53 "If no .aquifer directory exists you can't load extensions"
To reproduce:
- [ ] Make sure there is no `.aquifer` directory in your project.
- [ ] Make sure there are extensions specified in your `aquifer.json` file.
- [ ] Run `aquifer extensions-load`.

You should see something like this:

[code]

[2015-09-29 21:27] fluxsauce opened #54 "Symbolic links should be relative, not absolute"
Otherwise, attempts to use it within a VM fail.

[code]

[2015-09-29 21:30] fluxsauce opened #55 "Don't move .htaccess out of the site into root"
[code]

[2015-09-29 21:37] fluxsauce opened #56 "Support arbitrary module names"
[code]

Specifically, "vendor". Rather than hard coding `contrib`, `custom`, and `features`, loop through all modules and skip `root`.

[2015-09-30 22:26] #27 closed, assigned to nobody

[2015-09-30 22:26] #26 closed, assigned to nobody

[2015-09-30 22:48] #49 closed, assigned to nobody

[2015-10-01 00:27] fluxsauce commented on #55
Sorry, still happening

[2015-10-01 00:27] fluxsauce commented on #54
Verified good!

[2015-10-01 00:27] #54 closed, assigned to nobody

[2015-10-01 01:51] fluxsauce opened #59 "Don't use a forked version of drush-node"
[code]

I found a bug with double-spaced output that I fixed, then went to apply it to https://github.com/elliotttf/drush-node discovered that the diff was incredibly different.

@patrickocoffeyo is a co-maintainer and we have a positive relationship with @elliotttf so let's get things merged.

[2015-10-01 19:21] #23 closed, assigned to patrickocoffeyo

[2015-10-02 15:35] patrickocoffeyo commented on #55
@fluxsauce I'll re-address this today.. I'm not sure why this would be happening. There's a new PR that restructures this, I'll do some testing once this is merged: https://github.com/aquifer/aquifer/pull/60

[2015-10-02 18:13] #53 closed, assigned to nobody

[2015-10-05 20:40] chasingmaxwell opened #62 "Move extension config to subproperty"
It feels awkward to me that extension configuration is at the same level as `source` in aquifer.json. What if you wanted to use "source" as a configuration property! We should move it to a subproperty: `config`

[code]

[2015-10-05 22:37] #40 closed, assigned to nobody

[2015-10-05 22:49] patrickocoffeyo commented on #25
@astanush As we push towards a 1.0 release, would it be possible to continue work on the logo? It would be nice to have a distinguishable visual marker.

[2015-10-05 22:55] astanush commented on #25
Could you clarify:

[2015-10-05 22:58] patrickocoffeyo commented on #25
@astanush I was thinking that perhaps we could create an ascii art version of the logo and use it in place of the aquifer ascii art we currently have in the help commands.

[2015-10-06 00:49] astanush commented on #25
I still like the diagram treatment above as I think it will offer something more unique than the "water drop" seen in a lot of Drupal-related software/companies.

Do you have thoughts about whether to include "Drupal" as part of the product name in certain cases? Since "aquifer" is an English word, it's not that searchable by itself. But if refer to it as "Aquifer for Drupal" or "Aquifer, your Dru

[2015-10-06 15:35] fluxsauce opened #64 "Don't ask to run extensions-load when running extensions-load"
[code]

[2015-10-06 17:42] fluxsauce opened #66 "Support installation profiles"

[2015-10-06 18:29] #66 closed, assigned to nobody

[2015-10-06 18:37] #56 closed, assigned to nobody

[2015-10-07 15:46] astanush commented on #25
Do you have release date you're shooting for? Possible to time the release with BADcamp?

[2015-10-07 16:35] patrickocoffeyo commented on #25
@astanush I really like the diagram you provided. I think having "for Drupal" in the branding is a good idea as well, given that the word "Aquifer" doesn't in any way indicate that the project is intended to be used for building Drupal sites.

The project is already live on npmjs.org, but I haven't started talking about it a whole lot yet. While I don't have any speaking dates set to talk about Aq

[2015-10-07 17:09] jasonruyle opened #73 "Build Error"
Tried installing this for the first time on OSX.
When I run aquifer build it starts running the drush make command.
It then returns the following:

[code]

When I go into the build directory all my sym links are to ../../../ which would be incorrect.

I've had issues with install path problems in the past, this was related to an issue on D8 at:
https://www.drupal.org/node/2464055#comment-10222741

[2015-10-07 17:43] #50 closed, assigned to nobody

[2015-10-07 18:15] patrickocoffeyo commented on #73
@jasonruyle Thank you for reporting! I will take a look at this.

[2015-10-07 18:19] patrickocoffeyo commented on #73
@jasonruyle How did you create your project? Did you just run `aquifer create projectName`, and then attempted to build and it failed? Also, how did you install Aquifer, through npmjs.org?

[2015-10-07 18:22] patrickocoffeyo commented on #73
@JeffTomlinson is going to take a look at this as well. I run Linux on my desktop, so if this issue is specific to OSX I may not be able to reproduce it.

[2015-10-07 18:27] fluxsauce commented on #73
Hi @jasonruyle , I've been using Aquifer with OSX, haven't experienced that problem.

For troubleshooting, can you provide your `aquifer.json` and `drupal.make` (redacted as much as you'd like)?

[2015-10-07 20:04] astanush commented on #25
Does the NPM site allow for any branding for our page? If so, do they have discrete fields for artwork? Or if it's more open, are there width restrictions?

I'm looking at https://www.npmjs.com/package/aquifer and see you have the ASCII art there, but wondering if we could add an image there?

[2015-10-07 21:24] JeffTomlinson commented on #73
I'm unable to reproduce as well. Will take another look when we get the info @fluxsauce requested.

[2015-10-07 22:11] patrickocoffeyo commented on #25
@astanush I believe we can add images to npmjs pages, provided that the image tag uses a full path to pull in the images. Perhaps we should create a `branding` or `landing` repo in this org to add artwork, and then reference the artwork from there?

[2015-10-07 22:11] patrickocoffeyo commented on #25
From the gruntjs npm page:
![screenshot from 2015-10-07 17 09 28](https://cloud.githubusercontent.com/assets/1107871/10352703/7ffbae66-6d16-11e5-9b92-039bfb8573cf.png)

[2015-10-07 22:17] astanush commented on #25
Instead of having a repo just for artwork — which won't include very many files — maybe we include the artwork assets as part of the landing page repo? We could even have a subpage there for people to download the source files.

[2015-10-07 22:25] patrickocoffeyo commented on #25
@astanush I like it :) I've created an empty repository here: https://github.com/aquifer/landing

[2015-10-07 22:35] astanush commented on #25
Maybe name the repo to match the domain, e.g. `aquifer.io`?

[2015-10-07 22:37] patrickocoffeyo commented on #25
That makes sense to me. I'll update.

[2015-10-07 22:39] patrickocoffeyo commented on #25
Done! https://github.com/aquifer/aquifer.io

[2015-10-07 22:56] patrickocoffeyo commented on #25
I just got http://docs.aquifer.io up and working. I'll add a basic landing page soon.

[2015-10-09 16:57] thebruce opened #75 "aquifer extensions-load warning improvement - prompt to run"
Great project! I was hoping that we could slightly modify the aquifer extensions-load warning behavior. Currently there is a warning prompt if aquifer doesn't have the correct extensions -- you are then left to run aquifer extensions-load after that.  If aquifer is aware at that point - could it prompt the user - to see if now is a good time to run the extensions load?

Something like: `Hey, I not

[2015-10-13 15:18] chasingmaxwell opened #76 "aquifer should notify when a non-existent command is invoked"
When I run `aquifer supercalifragilisticexpialidocious` there should be an error message stating that the command does not exist. Assuming, of course, that command is not defined by an extension :)

[2015-10-20 16:40] fluxsauce opened #79 "npm WARN package.json aquifer@0.1.2 No license field"
[code]

That's a pretty easy one.

[2015-10-21 19:32] astanush commented on #25
EPS, PNG, and SVG artwork placed here:

https://github.com/aquifer/aquifer.io/tree/master/branding

[2015-10-21 19:32] #25 closed, assigned to astanush

[2015-10-26 15:45] astanush opened #82 "Add logo to npm page"
Just a friendly reminder to replace the logo at https://www.npmjs.com/package/aquifer

[2015-10-26 18:57] chasingmaxwell opened #84 "Alias specific refresh commands?"
The use case for this is the master module. Right now the default refreshCommands config includes `master-execute --scope=local`. You would want to change the scope on different environments. Since we can specify aliases with the `-a` option we should also be able to specify commands specific to that alias. I'm thinking the config would look something like this (of course with more commands define

[2015-10-26 19:00] chasingmaxwell commented on #84
of course there should also be a default set of commands for the local build without an alias specified. That could just be a "default" key.

[2015-10-26 19:01] patrickocoffeyo commented on #84
@chasingmaxwel This makes sense. Would it make more sense to move the refresh command into an extension, and then include it as a default?

[2015-10-26 19:02] chasingmaxwell commented on #84
@patrickocoffeyo++ yes! I'll do that now.

[2015-10-26 19:02] #84 closed, assigned to nobody

[2015-11-04 00:17] fluxsauce opened #85 "Support custom drushrc.php files"
You can set Drush defaults in a `drushrc.php` file, which [according to the documentation](https://github.com/drush-ops/drush/blob/master/examples/example.aliases.drushrc.php) can live in places like `./sites/all/drush/drushrc.php`

Provide a logical default and placeholder.

[2015-11-04 16:44] patrickocoffeyo commented on #82
@astanush This will be updated when `v0.1.3` is published :)

[2015-11-04 16:44] patrickocoffeyo commented on #79
@fluxsauce I'll knock this out :)

[2015-11-04 16:46] patrickocoffeyo commented on #73
Shelving this because of inactivity. @jasonruyle Thank you for reporting this, we'll keep it in mind, and if you are able to provide more information, feel free to open this back up or create a new ticket with a detailed report.

[2015-11-04 16:46] #73 closed, assigned to JeffTomlinson

[2015-11-04 16:47] patrickocoffeyo commented on #59
@chasingmaxwell What is the status of this?

[2015-11-04 16:49] patrickocoffeyo commented on #64
Closing this because it is outlined in #75 and a great solution is proposed.

[2015-11-04 16:49] #64 closed, assigned to nobody

[2015-11-04 16:49] patrickocoffeyo commented on #22
This is complete: https://github.com/aquifer/aquifer-coder

[2015-11-04 16:49] #22 closed, assigned to nobody

[2015-11-04 16:50] patrickocoffeyo commented on #17
This is solved with: https://github.com/aquifer/aquifer-git

[2015-11-04 16:50] #17 closed, assigned to chasingmaxwell

[2015-11-04 20:46] patrickocoffeyo opened #87 "Use Composer instead of Drush Make"
I think we should use composer instead of drush make to define dependencies and scaffold a drupal site root. thoughts?

[2015-11-04 20:48] patrickocoffeyo opened #88 "Manually set directory permissions"
On different operating systems, certain files and directories do not have the correct permissions. This could include the files directory, install.php, and `sites/default`. We should have aquifer set these permissions correctly after a build is complete.

[2015-11-06 03:47] chasingmaxwell commented on #59
@patrickocoffeyo We can probably remove the dependency to drush-node all together when we've incorporated a "run" code API into aquifer core as we've discussed.

[2015-11-11 23:53] fluxsauce opened #90 "Aquifer commands fail with wrong exit code if Drush commands fail"
![screen shot 2015-11-11 at 3 53 08 pm](https://cloud.githubusercontent.com/assets/976391/11106620/54e2e41a-888c-11e5-9b59-85894acf8852.png)

[2015-11-12 00:00] fluxsauce commented on #90
Okay, with some further testing...
- Drush shouldn't have to be installed globally for Aquifer to work. Need to be able to specify a path to a Drush binary.
- Test to see if Drush is available before trying to use it. If it isn't available, bail with an appropriately verbose command describing what's wrong.
- If commands fail, use an exit code.

[2015-11-13 05:54] fluxsauce commented on #85
Now it requires that you have a drush configuration. Whoops!

[2015-11-13 07:33] fluxsauce commented on #90
Looks like Aquifer doesn't pay attention to the Drush exit codes in general.

<img width="706" alt="screen shot 2015-11-12 at 11 32 02 pm" src="https://cloud.githubusercontent.com/assets/976391/11141000/b0209e26-8995-11e5-953c-748e33b6decf.png">

<img width="698" alt="screen shot 2015-11-12 at 11 32 09 pm" src="https://cloud.githubusercontent.com/assets/976391/11141001/b02259d2-8995-11e5-8cb6-eafd

[2015-11-13 21:45] infiniteluke commented on #85
The work around for this would be to add `"drush": "drush"` under `"paths"` in your aquifer.local.json file. It will get things building again if you're using the dev branch with your projects.

[2015-11-24 15:47] patrickocoffeyo commented on #90
@fluxsauce Looking into this, I think this may be an issue with the `drush-node` wrapper.

@chasingmaxwell is working on a mechanism to replace drush-node, and all other command wrappers that we currently use. This mechanism will report errors correctly, in fact that's something we should specifically test for. These sort of errors are annoying and unhelpful.

In response to a Drush binary, I thin

[2015-11-24 16:01] patrickocoffeyo opened #93 "Re-vamp Aquifer path maps."
There are certain paths and folders in Aquifer that someone might not want to use, for instance `root`, or `drush` might never be useful for a project. We should make sure that some of these non-critical folders aren't required. As of now, they aren't explicitly required, but a very unhelpful critical error occurs when you _don't_ define them:

[code]
## So two things should happen:
- We should bu

[2015-11-24 16:39] patrickocoffeyo commented on #82
Completed and closed.

[2015-11-24 16:39] #82 closed, assigned to patrickocoffeyo

[2015-11-24 16:41] infiniteluke commented on #85
#93 will track the handling of required config

[2015-11-24 17:11] chasingmaxwell commented on #90
@fluxsauce @patrickocoffeyo this is an issue with the way aquifer handles extension commands. If there is an error returned by the command, aquifer just logs it. It should log it and exit with non 0 error code. here's the relevant line: https://github.com/aquifer/aquifer/blob/dev/lib/extension.command.js#L165

[code]

[2015-12-01 05:50] fluxsauce opened #95 "Extensions should be optional."
If you don't have a stub:

[code]

you get

[code]

[2015-12-04 19:53] fluxsauce opened #96 "Make directories, such as files, optional when building"
`aquifer-git` creates an artifact and commits it to a repository, and it works. However, the build process copies the files directory, which is ignored within `aquifer-git` using a `.gitignore`. I noticed because my files directory is ~25GB.

https://github.com/aquifer/aquifer-git/issues/12

[2015-12-04 20:50] chasingmaxwell commented on #96
I've created #97 to deal with this. It allows options to be passed to the build API excluding links or adding new links. aquifer-git will use this to exclude the files directory by default.

[2015-12-17 21:11] #85 closed, assigned to nobody

[2016-01-05 23:26] fluxsauce opened #103 "Unable to both download Drush command and copy site aliases"
Given the following

[code]

and a `drush` directory that contains aliases / `drushrc` configurations, you get a conflict.

![screen shot 2016-01-05 at 3 26 04 pm](https://cloud.githubusercontent.com/assets/976391/12130630/aec53b68-b3c0-11e5-8e89-4c5b2725bca5.png)

Expected behavior: contents merge.

[2016-01-13 22:46] chasingmaxwell opened #104 "defaultsDeep cause array configuration to be merged instead of overridden"
https://github.com/aquifer/aquifer/blob/dev/lib/project.api.js#L43 uses _.defaultsDeep() to override aquifer.json config with aquifer.local.json. This works well until configuration properties are arrays where it merges the two together keeping array elements from both files. For instance, if you override a run profile from aquifer-run, each command gets run twice. Is there a better way for us to

[2016-01-26 19:15] patrickocoffeyo opened #106 "Environments API"
Many Drupal projects have more than one environment. In most cases, a project has local developer environments, a canonical development environment, a testing/staging environment, and a live environment.

On all of these environments, we commonly need to run commands to do certain things that change the Drupal site in some way, like drush commands (updb, rr, fra, cc). It's great if these commands

[2016-01-26 19:55] chasingmaxwell commented on #106
@patrickocoffeyo There is [aquifer-run](https://github.com/aquifer/aquifer-run) which has proven very useful for several of my projects. We should at least consult the work done there in building a core run API.

[2016-01-28 04:03] patrickocoffeyo commented on #103
This is an interesting problem. It may be possible to merge the contents of folders if the already exist, but that may not be a plausible idea, given that the root drush folder is checked into git repositories. Perhaps what we should do in this case is symlink items within the root drush folder into the build drush folder, instead of the entire folder. Does that sound like a good resolution?

[2016-01-30 16:40] #95 closed, assigned to nobody

[2016-01-30 16:43] #96 closed, assigned to nobody

[2016-01-30 16:44] #90 closed, assigned to nobody

[2016-01-30 16:45] #76 closed, assigned to patrickocoffeyo

[2016-01-30 16:46] patrickocoffeyo commented on #76
Completed in #108

[2016-01-30 16:46] #55 closed, assigned to nobody

[2016-01-30 16:52] patrickocoffeyo commented on #75
@thebruce this has mostly been solved in #108, but there still is no prompt. W00t!

[2016-02-01 20:39] infiniteluke opened #111 "Unit test Aquifer"
Unit tests prevent regressions, make refactoring easier, and give maintainers/developers writing/using Aquifer confidence.

[Mocha](https://mochajs.org/) is super popular, but something lighter weight like [Tape](https://www.npmjs.com/package/tape) could probably do the job.

Here's a discussion about [mocha vs tape](https://medium.com/javascript-scene/why-i-use-tape-instead-of-mocha-so-should-you

[2016-02-01 20:56] infiniteluke commented on #111
It would also be a good idea to functional test Aquifer with different node/drush versions. Which is the higher priority? unit vs functional?

[2016-02-01 21:32] patrickocoffeyo commented on #111
@infiniteluke I have used mocha, and I really like it, and would prefer to use it on this project! :+1:

[2016-02-01 21:39] infiniteluke commented on #111
@patrickocoffeyo What are your thoughts on functional vs unit priorities?

[2016-02-01 21:41] patrickocoffeyo commented on #111
@infiniteluke I think we should have both, ideally...

[2016-02-01 22:20] infiniteluke commented on #111
@patrickocoffeyo BDD??

`expect(foo).to.be.a('string');`
vs
`assert.typeOf(foo, 'string');`

[2016-02-02 19:51] #111 closed, assigned to nobody

[2016-02-18 00:11] JeffTomlinson opened #115 "Delete destination files/directories if they exist"
`aquifer build` will error out when symlinking/copying source assets into the build if that asset's destination already exists. For example, when using the download version of Acquia Drupal, it will already contain a placeholder `settings.php` file and `/sites/default/files` directory. `fs.SymlinkSync()` will break in this scenario.

[2016-02-18 17:02] patrickocoffeyo commented on #115
This is relevant: https://github.com/aquifer/aquifer/issues/103

[2016-03-09 20:02] generalredneck commented on #19
Here is a version that uses Drush Make for now. Composer is a separate feature request. See #117.

[2016-03-16 18:21] mralexho opened #121 "Unknown option -d"
While trying to create a new D8 project, the command as indicated on https://github.com/aquifer/aquifer#1-create-an-aquifer-project returns:

[code]

[2016-03-21 23:15] #19 closed, assigned to patrickocoffeyo

[2016-03-21 23:17] patrickocoffeyo commented on #121
At the moment, Aquifer has 2 branches: the branch that is published to npm (`dev`) and the branch that is holding our 1.0.0 sprint (`1.0.0`). The `-d` flag only exist in the `1.0.0` branch. I'll update our default branch so that it's `dev` again so the documentation will be at the NPM version.

If you would like to use Aquifer with Drupal 8, follow the "Installing for development" instructions [he

[2016-03-21 23:18] #106 closed, assigned to nobody

[2016-03-21 23:18] #59 closed, assigned to chasingmaxwell

[2016-04-05 14:17] mirzu opened #124 "A brew installer with dependencies would be sweet"
It would be great if there was a one-click install with Brew that installed all the dependencies perhaps on a project basis so things like Drupal VM could be installed.

[2016-04-05 23:36] milsyobtaf opened #125 "Unable to Rebuild drupal.make.lock"
On the 1.0.0 branch, there doesn't appear to be a way to rebuild the `drupal.make.lock` file. I tried the `--refresh-lock` flag, and the older `--reset-lock` and `-r` flags, all of which gave an Unknown Option error. I suppose this might have just gone away? But it broke CircleCI builds for UCD-SS. Is there a way to specify an older version of Aquifer in a `circle.yml` file to avoid this in the fu

[2016-04-06 14:25] thebruce commented on #125
@milsyobtaf
In your package.json at the root of your project you could do something like this:
  "dependencies": {
    "aquifer": "aquifer/aquifer#branchname"
  }

[2016-04-06 14:26] thebruce commented on #125
Of course that would then be for the project as a whole, which - I don't know if that's going to be ok or not.

[2016-04-06 14:39] milsyobtaf commented on #125
_nod_
Makes sense. Thanks @thebruce!

[2016-04-06 14:43] thebruce commented on #87
@patrickocoffeyo we've been talking about this quite a lot in aquifer slack and at Four Kitchens central. I think this is definitely the way the wind is blowing, and I think moving to this is a great idea.  I've talked about this at some length with @generalredneck and of course you and I have talked about it as well.

Here is a summary of a few of the things we've said:
- We'd like to maintain th

[2016-04-12 14:58] IslandUsurper opened #127 "Support multisite Drupal"
I run some websites that have very similar Drupal installations. They have mostly the same modules enabled, they have the same patches to Drupal and certain modules, but their themes and content are different. We use the same code repo on these sites to keep changes in sync and so we know we only have to make a change in one place. I would like to migrate this project to Aquifer for the usual reas

[2016-04-12 18:34] chasingmaxwell commented on #127
@IslandUsurper! Welcome to work! Multisite Drupal is definitely something aquifer should support. It seems like this would be a relatively simple change to the build API. We would need to parse different "paths" properties in aquifer.json per site. Is `aquifer build` the only feature that would need to change to support multisite?

Are you sure `drush make` doesn't support multisite? Seems like yo

[2016-04-12 19:29] IslandUsurper commented on #127
Ah, I guess `--no-core` and `--contrib-destination` would do what I'm asking for, though I was hoping to have only one make file and let each module specify its own "contrib destination" folder, with the default being `sites/all/{type}`. Then you'd only have to run `drush make` once and be done.

It looks like the `refresh` command and the `drush` and `run` extensions should probably be aware of m

[2016-04-12 21:30] chasingmaxwell commented on #127
@IslandUsurper, would it not work to spcecify contrib destination in a single make file? I hadn't thought of that but I don't see why it wouldn't work.

You should check out the `1.0.0` branch of aquifer where there has been a lot of really awesome upgrades recently. One of which is that the refresh API and the run extension have both been deprecated in favor of a core run API. I think this new ru

[2016-04-15 13:53] IslandUsurper commented on #127
Unless I haven't seen the right option in the docs, you can only specify what subdirectory within `sites/all/<type>` your project can go in. Common options being "features" and "contrib". But I don't think you can specify `sites/example.com/<type>` with that option. `--contrib-destination` applies to the whole make file, so you have to use multiple invocations to have multiple values for it.

[2016-05-16 21:55] tschet opened #132 "graceful-fs"
I'm trying to use aquifer for a project, but I can't seem to get a working install. I get an error on install, and some version of the message above any time I attempt to use it. I've attempted to update graceful-fs without any difference.
I'm using a new Macbook if it makes a difference.

[2016-05-16 23:52] IslandUsurper commented on #132
Ran into this problem just now. Looks like aquifer is using an old version of fs-extra, which depends on graceful-fs. Updating it to 0.30.0 should help.

[2016-05-17 12:36] tschet commented on #132
Changing the fs-extra version to 0.30.0 did fix that issue, but now I've getting

[2016-05-17 15:42] IslandUsurper commented on #127
Oh. According to drush-ops/drush#582, you can put `contrib_destination` at the project level. Would be nice if that was in the docs. So Drush Make does support multisite installations in a single makefile, it's just not obvious.

[2016-05-18 06:11] ccjjmartin commented on #132
EDIT: Scratch this post.  It wasn't actually working, just appeared to be.  I am encountering similar issues that appear to be related to the version of node we are running.

[2016-05-18 13:45] tschet commented on #132
Reverting to Node 5 appears to be working

[2016-05-18 14:49] ccjjmartin commented on #132
@tschet Node 5 actually does work.  I was having a separate issue on Node 5 I am about to document.  FYI it appears most people using Aquifer are using Node 5.

[2016-05-18 14:53] ccjjmartin commented on #132
Until we get a real fix for Node6:

If node was installed using the download from the node website follow the instructions on this page to remove node:
http://stackoverflow.com/questions/11177954/how-do-i-completely-uninstall-node-js-and-reinstall-from-beginning-mac-os-x

If node was installed with homebrew:
`brew uninstall node`

To install node5:
`brew tap homebrew/versions`
`brew search node`
`

[2016-05-18 14:56] ccjjmartin opened #135 "Builds failing"
## Background:
- Node Version: v5.11.1
- Aquifer Version: 1.0.0-beta1
## Error:

[code]
## Current workaround:
- In your aquifer project delete your vendor/drush directory and perform `aquifer build` again

[2016-05-18 15:02] chasingmaxwell commented on #135
This seems to be an issue with site local drush. Another workaround is to move drush from dev-dependencies to dependencies in your composer.json. This prevents site local drush.

[2016-05-18 15:13] ccjjmartin opened #136 "Nodegit cannot be found"
## Background:
- Node Version: v5.11.1
- Aquifer Version: 1.0.0-beta1
## Error:
- When running any command including just printing the version, this error occurs:

[code]
## Possible Fix:
- Upgrade to aquifer 1.0.0 because it doesn't require nodegit
- Run `aquifer extensions-load`
## WIP:
- This issue still exists but doesn't appear to be a blocker

[2016-05-18 16:27] chasingmaxwell commented on #136
@ccjjmartin it is aquifer-git 1.0.0 that no longer requires nodegit. aquifer core has never required it. Can you upgrade aquifer-git to 1.0.0 and see if the problem disappears?

[2016-05-18 19:50] ccjjmartin commented on #136
In order to update:
Go to aquifer.json
Find extensions and change the following:

"extensions": {
     "aquifer-git": {
-      "source": "aquifer-git",
-      "source": "aquifer/aquifer-git#1.0.0",

[2016-05-18 19:55] ccjjmartin commented on #136
This appears to require aquifer to be 1.0.0 also which was not the case on our production servers so I had to hold off on this upgrade.

[2016-05-18 19:55] #136 closed, assigned to nobody

[2016-05-18 22:27] proofoftom commented on #132
See PR #137 regarding `TypeError: this.cli._events.hasOwnProperty is not a function` for Node 6.

[2016-05-20 23:43] #132 closed, assigned to nobody

[2016-05-21 03:31] patrickocoffeyo commented on #127
I'm interested in looking into this... I think this could easily be supported :)

[2016-05-21 03:33] patrickocoffeyo commented on #125
We abandoned the concept of using the drush make lock files entirely, there are some core problems with how drush makes use of the lock file. Instead, we recommend that you explicitly define the version of each dependency in the make file.

[2016-05-21 03:35] patrickocoffeyo commented on #124
We could certainly distribute Aquifer via brew. We would need to ship an executable application that came with it's own copy of node, drush, composer, etc. I'm not opposed to this idea at all, and I think it's something we should put on the roadmap.

That being said, I think, even before we create such a package, we should localize external dependancies (like drush and composer) in Aquifer.

[2016-05-21 03:35] patrickocoffeyo commented on #93
This functionality has been built! 👍

[2016-05-21 03:35] #93 closed, assigned to nobody

[2016-05-21 03:37] patrickocoffeyo commented on #16
I think we have effectively solved this issue with the run and environment apis. Closing this for now.

[2016-05-21 03:37] #16 closed, assigned to nobody

[2016-05-21 03:39] patrickocoffeyo commented on #121
@mralexho We also pushed a pre-release tag to npm, so you can install the 1.0 branch very easily:

[code]

[2016-05-21 03:39] #121 closed, assigned to nobody

[2016-05-21 03:40] patrickocoffeyo commented on #115
These issues have been solved with the addition of a highly configurable path map system. @JeffTomlinson amazing work on that, I'm closing this task :)

[2016-05-21 03:40] #115 closed, assigned to JeffTomlinson

[2016-05-21 03:40] patrickocoffeyo commented on #125
I'mma close this, we can totally re-open it if there is more discussion to be had! :D

[2016-05-21 03:40] #125 closed, assigned to nobody

[2016-05-21 03:42] patrickocoffeyo commented on #104
@chasingmaxwell I think this has been solved.. can you confirm?

[2016-05-23 07:59] ccjjmartin opened #142 "More builds failing"
## Description:
- Running `aquifer build` on D7 sites is failing with the latest version of aquifer
## Part 1 (config files):
- Updating aquifer requires the config files to be updated in old projects
## Error message:
- `aquifer build`

[code]
## Current solution to part 1:
- Upgrade your aquifer.json file
## Part 2:
- Using a fresh site install `aquifer create test`
- Then running `aquifer build

[2016-05-23 08:43] ccjjmartin commented on #142
## Solved:
- Drush was missing from my $PATH variable
- If anyone encounters this error in the future type `which drush`
- If nothing appears you need to add drush to your $PATH variable
- HINT: aliases DO NOT work (I was using aliases)

## To fix:
- `nano ~/.bash_profile`
- Add the location of the drush bin directory to your path, mine was in a subdirectory and looked like:

[code]
- Save the fil

[2016-05-23 08:43] #142 closed, assigned to nobody

[2016-06-20 22:42] IslandUsurper commented on #127
Once I got the latest version installed, and realized that aquifer.json had changed (or I had gotten it confused with the config.json you can give to `aquifer create`) I found that I can add all of the folders I need and Aquifer will find and sync them. Between that and Drush's `contrib_destination` parameter, I believe my project is completely supported.

[2016-06-20 22:42] #127 closed, assigned to nobody

[2016-06-21 00:10] fluxsauce commented on #127
@IslandUsurper Cool, glad you got it sorted! Want to contribute some documentation so others can learn how?

[2016-06-21 16:49] IslandUsurper commented on #127
Sure, @fluxsauce. Where is the best place it should go? Between the wiki and the docs book, it's hard to tell where the most up-to-date information is.

[2016-06-24 17:22] kporras07 commented on #135
I can confirm de issue, I used the @ccjjmartin's workaround for a while, but now I can confirm that @chasingmaxwell's workaround works great.

[2016-06-24 18:42] patrickocoffeyo commented on #127
@IslandUsurper We are retiring the repository wiki slowly as we improve the book :) [This repo](https://github.com/aquifer/wiki) holds the book that powers docs.aquifer.io. Feel free to fork and add a section on multisites!

[2016-06-27 20:30] mirzu opened #154 "There are 3 beta tags and all 4k projects use a branch"
I'd like to make tags, and release those tags to NPM, of the branch or branches that are currently is use on projects so that they are easy to identify, and available in NPM.

I'd also like Aquifer to use the version in NPM_modules regardless of its global version to make it easier on the folks like @ccjjmartin who work on different projects with different release cycles. If that already happens t

[2016-07-15 01:42] patrickocoffeyo commented on #154
Heya @mirzu!

Firstly I'll apologize for getting to this rather late, for some reason I was not notified of this. I think this is because I had Aquifer sending notifications to my Four Kitchens email account, which is no longer active. I'll resolve that now :)

We have one beta tag, which is this: https://github.com/aquifer/aquifer/releases/tag/r1.0.0-beta1

This is accessible for global install v

[2016-07-15 03:47] generalredneck commented on #154
I am sorry currently I am going through some family emergency stuff. Will be for weeks most likely.

[2016-07-16 04:55] ccjjmartin commented on #154
@patrickocoffeyo: What you mentioned sounds like a great idea.  There might be an easy way to do this within node that I don't know about but here are some ideas if it isn't readily available:

I notice that things tend to break when we implement a breaking change within one of the APIs.  So, I think we could either separate the APIs into separate node modules and include them as project specific

[2016-07-19 23:21] patrickocoffeyo commented on #154
@generalredneck I'm sorry to hear that man, my thoughts are with you.

@ccjjmartin We would simply need to create a mechanism within Aquifer that would install other versions automatically and use the correct path to the correct version for any given project. It shouldn't be too difficult :)

Regardless, the documentation and possibly a few other items are more important at this point, mainly beca

[2016-07-20 02:48] ccjjmartin commented on #154
## Blockers:

I can't build a client site without this PR:
https://github.com/aquifer/aquifer/pull/144

I can't build one of my side projects without this PR:
https://github.com/aquifer/aquifer/pull/147

## Additional Info:

Once we do a 1.0.0 we can close this PR and I will upgrade all of the sites I maintain to 1.0.0 instead of committing this:
https://github.com/aquifer/aquifer/pull/146

I am l

[2016-07-20 15:36] patrickocoffeyo commented on #154
@ccjjmartin Excellent! I'll take some time to go through those and get it ready to ship. @chasingmaxwell @fluxsauce @JeffTomlinson are you aware of any other 1.0.0 blockers?

[2016-07-21 01:19] JeffTomlinson commented on #154
@patrickocoffeyo: I'm using these on my current project. Would be awesome if we could get them in.

#150
#151
#152

They've been in use by our team for over a month and are functionally stable for us. #151 does introduce a breaking change for the current version that requires a little rejiggering of a project's `aquifer.json` which I have documented in UPDATE.md.

[2016-07-29 19:57] #18 closed, assigned to mattgrill

[2016-07-29 19:57] #87 closed, assigned to nobody

[2016-07-29 19:57] #88 closed, assigned to nobody

[2016-07-29 20:01] #104 closed, assigned to nobody

[2016-07-29 20:03] patrickocoffeyo commented on #103
Users can now define a behavior for these scenarios.

[2016-07-29 20:03] #103 closed, assigned to nobody

[2016-07-29 20:08] patrickocoffeyo commented on #75
This has been functionally resolved, although we still require users to run `aquifer extensions-load`, this is a very common practice, and I think we are ok with this behavior.

[2016-07-29 20:08] #75 closed, assigned to patrickocoffeyo

[2016-07-31 08:44] ccjjmartin opened #155 "Dev branch not merged into 1.0.0"
## Purpose:
- The dev branch has not been merged into 1.0.0.
## Question:
- Should we merge this into 1.0.0 before we release?
- Are there other branches we should merge?
## Notes:
- I noticed that one of my really old PRs was merged into dev recently.  Maybe the reason for this is that they were old PRs?

[2016-07-31 08:47] ccjjmartin commented on #155
#156 is a PR to summarize the changes between the branches.  Note there is a current merge conflict.

[2016-08-06 23:52] haynescw opened #158 "Error when creating new aquifer project using beta1 for d8"
$ aquifer create beta_eight -d 8
(node:99289) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.
TypeError: this.cli._events.hasOwnProperty is not a function
    at Promise (/usr/local/lib/node_modules/aquifer/lib/aquifer.api.js:133:33)
    at Aquifer.parse (/usr/local/lib/node_modules/aquifer/lib/aquifer.ap

[2016-08-11 20:28] patrickocoffeyo opened #159 "Localize all external dependencies"
Aquifer currently uses external dependencies such as Drush and Composer, we need to install and execute those deps locally as opposed to using the user's system-level instances of these tools.

Additionally, these libraries should be attached to the global Aquifer class so that extensions can also make use of the correct version of these libraries.

[2016-08-11 20:29] thebruce opened #160 "Make Default Drupal Version Drupal 8"
The default version is Drupal 7, let's make it v8.

[2016-08-11 20:29] patrickocoffeyo opened #161 "Ensure compatibility with latest Node.js version"
We need to make sure Aquifer is compatible with the latest version of Node.js, and additionally we should add a note in the README.md file that records the supported version of node for each Aquifer version.

[2016-08-11 20:31] patrickocoffeyo opened #162 "Aquifer needs to be documented"
This task involves writing documentation for each command and function that exists within core. This documentation should be done within the [wiki](https://github.com/aqufier/wiki).

[2016-08-11 20:34] patrickocoffeyo opened #163 "Project-level Aquifer version autoselection"
We should extend `aquifer.json` so that it includes a `version` property which specifies the version of Aquifer on which the project depends.

When Aquifer is executed it should use/load the correct version of itself. If no `version` property exists, we should warn the user, and default to using the latest and greatest version of this amazing piece of software.

[2016-08-11 20:36] patrickocoffeyo opened #164 "Extensions should be updated so that they work"
As of now, some extensions don't work correctly with the latest version of Aquifer and they do not support or use some of the new APIs that we have so graciously built, such as the run api and the env api. These extensions should be updated so that they take advantage of these latest greatest blazing new features, and so that they are compatible with the breaking API changes we have made in the 1.

[2016-08-11 20:42] patrickocoffeyo opened #165 "GIT IT ALL MERGED"
we need to get all our prs worked out and merged

[2016-09-02 15:31] chasingmaxwell commented on #164
aquifer-git seems to be working without issue on its 1.0.0 branch, which is not the default branch so maybe that's why it seemed not to be working.

[2016-09-02 15:34] chasingmaxwell commented on #164
Changed the default branch of aquifer-git to 1.0.0 to match the aquifer project.

[2016-09-08 17:18] generalredneck commented on #161
Steps I went through to verify compatibility:
- ran `aquifer create test`
- ran `aquifer build`
- removed test.
- ran `aquifer create test -d 8`
- ran `aquifer build`
- ran `aquifer --help`
- ran `aquifer extensions`
- ran `aquifer extension-add aquifer-git`
- ran `aquifer extension-add aquifer-coder`
- ran `aquifer extensions-load`
- ran `aquifer envs`
- ran `aquifer env-add local`
- ran `aquifer

[2016-09-08 18:01] generalredneck commented on #164
I did run into a small snag... when we run `aquifer extension-add aquifer-git` it downloads the default version of `^0.3.0` which was the latest stable package. This may mean we need to add some documentation to tell users that they have to go in and change `.aquifer/package.json` to be the correct version of the extension that matches with this version. That's at least until 1.0.0 is released as

[2016-09-08 18:05] generalredneck commented on #162
wait... so we are doing documentation in [wiki](https://github.com/aqufier/wiki) and not over at https://github.com/aquifer/wiki? Or am I missing a basic concept of how Github does wiki?

[2016-09-08 21:45] patrickocoffeyo commented on #162
@generalredneck Our documentation (wiki) is hosted on Github Pages, and is generated using GitBooks: https://github.com/aquifer/wiki

We started documenting with the GitHub wiki, but found that GitBooks provided some flexibility that is really nice :)

[2016-09-08 21:47] patrickocoffeyo commented on #161
@generalredneck That's great news! I did the same, and had no issues. 🎉  I'm going to close this ticket now :)

[2016-09-08 21:47] #161 closed, assigned to generalredneck

[2016-09-09 18:39] chasingmaxwell commented on #163
My plan for this:
- Put a new method in project.api.js for selecting the proper version
- Abstract the bits from extension.api.js that actually use npm to install node modules in the .aquifer directory into an NPM API (npm.api.js) and use it in the extensions api to do what it's already doing.
- Use this same API in project.api.js to install and use the proper version of aquifer.
- I plan to simpl

[2016-09-09 22:23] chasingmaxwell commented on #163
@patrickocoffeyo see PR #167

[2016-09-13 02:18] JeffTomlinson commented on #164
`aquifer-coder` fixes and enhancements here: https://github.com/aquifer/aquifer-coder/pull/6

[2016-09-13 13:12] chasingmaxwell commented on #164
@generalredneck

This should be set in the "source" property for the extension in aquifer.json. Ideally the user should never have to touch anything inside the .aquifer directory.

[2016-09-14 01:32] JeffTomlinson commented on #160
PR: https://github.com/aquifer/aquifer/pull/169

[2016-09-14 04:14] ccjjmartin opened #170 "Minor Bug: Builds don't work from subdirectory"
## Versions:
- Aquifer: 0dd369bcd767bf4fc79d61771bf7c9cc1e2d745c
- Node 6.3.1
- Drush 7.3.0
## Issue:
- Running `aquifer build` from a subdirectory (Example: module/features/feature_name of a project fails due to no such file or directory "root"
## Error:

[code]

[2016-09-14 17:33] #160 closed, assigned to JeffTomlinson

[2016-09-21 01:39] JeffTomlinson opened #171 "Build plugins"
Currently we have some conditional logic in the build API to switch between Composer and Drush make. It would be radical if we could handle this with "build plugins".

[2016-09-21 19:17] #155 closed, assigned to nobody

[2016-09-22 19:24] JeffTomlinson commented on #62
PR: https://github.com/aquifer/aquifer/pull/172/files

[2016-09-22 20:52] JeffTomlinson commented on #79
PR: https://github.com/aquifer/aquifer/pull/173

[2016-09-22 22:10] mattgrill opened #174 "Add testing of Aquifer's codebase."
Currently, most of Aquifer is untested.

In an effort to take the pain out of manual, _functional_, testing, an automated approach should be taken to test the codebase of Aquifer and it's extension. This should speedup the review process and allow people to contribute easier.

I'd suggest some combination of AVA/NYC and Travis to run these tests and keep them running when new PR's come in.

![](ht

[2016-09-26 13:48] patrickocoffeyo commented on #174
Directly after releasing `1.0.0`, this needs to be our primary objective, I think. I am personally a big fan of AVA/NYC, Travis is also a great CI.

@mattgrill Aquifer currently has some external dependancies such as composer and drush. One task we have for `1.0.0` is to localize those dependancies to Aquifer as opposed to just documenting them as system-level requirements. Once we have that done,

[2016-09-26 20:36] #62 closed, assigned to JeffTomlinson

[2016-09-28 16:14] #163 closed, assigned to chasingmaxwell

[2016-09-30 18:59] chasingmaxwell commented on #135
This should be solved by #159, I'm going to close this in favor of tracking the site local drush issue there.

[2016-09-30 18:59] #135 closed, assigned to nobody

[2016-09-30 19:02] chasingmaxwell commented on #159
We need to confirm that this is compatible with site local drush when it is completed by doing the following in an aquifer project:
- Make sure drush 8 is installed globally.
- Edit the composer.json for a project to specify drush as a dev-dependency.
- Run `composer install`
- Run `aquifer build`

If the build completes successfully, this resolves #135 which is an issue with site local drush.

[2016-09-30 19:28] generalredneck opened #177 "aquifer.local.json doesn't full overload run-API scripts"
in my main aquifer.json I have

[code]

In my local I have

[code]

my output is

[code]

[2016-09-30 19:36] chasingmaxwell commented on #162
@generalredneck I know you've put in a lot of work on this. Where are we with it?

[2016-09-30 19:37] chasingmaxwell commented on #79
PR was merged. I'm closing this.

[2016-09-30 19:37] #79 closed, assigned to patrickocoffeyo, JeffTomlinson

[2016-09-30 19:38] chasingmaxwell commented on #165
All the PRs for 1.0.0 are closed at this point (although there will be new ones since there are still 1.0.0 issues open). I'm closing this since it had to do with the PRs that were open at the time.

[2016-09-30 19:38] #165 closed, assigned to generalredneck, thebruce, patrickocoffeyo, JeffTomlinson, chasingmaxwell, ccjjmartin

[2016-09-30 19:38] generalredneck commented on #162
Take a gander over at https://github.com/aquifer/wiki/pull/2. It doesn't have the Sync API in it yet.

[2016-09-30 21:31] chasingmaxwell commented on #104
This was still an issue. It's addressed by https://github.com/aquifer/aquifer/pull/178. This is also now a duplicate of this newer issue #177

[2016-09-30 21:31] chasingmaxwell commented on #177
This is addressed by #178

[2016-09-30 21:51] chasingmaxwell commented on #162
@generalredneck awesome! I'm going to add the "in progress" label to this issue so we know where it stands.

[2016-09-30 22:20] chasingmaxwell opened #179 "Allow some src files to be shared between d7 and d8"
Why?

The npm API needs to grab the package.json file from src/d7 or src/d8, but because a project-specific version of aquifer itself can be installed with the npm API, it can be invoked before the project API where the source directory is defined. This causes an error if you have aa aquifer version specified in your aquifer.json file but do not have an `.aquifer` directory.

My proposed solution

[2016-09-30 22:23] JeffTomlinson commented on #179
Makes sense to me. Although I'd recommend naming it `src/all`.

[2016-09-30 22:23] chasingmaxwell commented on #179
I had just come to the same conclusion in the PR I'm working on :) Great minds.

[2016-09-30 22:28] chasingmaxwell commented on #179
PR: https://github.com/aquifer/aquifer/pull/180

[2016-10-01 18:12] #179 closed, assigned to nobody

[2016-10-01 18:33] chasingmaxwell commented on #158
@haynescw, wow. I'm sorry for being so late to respond to this. If you haven't already resolved this on your own and are still interested, it looks like you may have an old version of node. Could you try upgrading to something more recent, preferably 6.7.0? I recommend using [nvm](https://github.com/creationix/nvm) to manage installed versions of node because it makes it super easy to switch betwe

[2016-10-03 15:40] chasingmaxwell commented on #177
PR was merged

[2016-10-03 15:40] #177 closed, assigned to chasingmaxwell

[2016-10-03 15:40] chasingmaxwell commented on #104
PR was merged.

[2016-10-10 17:05] mirzu opened #181 "Install instructions still say to use npm link."

[2017-01-04 15:43] generalredneck opened #184 "Aquifer doesn't work in 4.* LTS"
In my testing, the latest version of aquifer doesn't work in the 4.* LTS version of Node. Though there is already a new LTS version 6.*, 4.* will still be around as Active LTS until April, and then maintenance fixes afterward.

![LTS Schedule](https://github.com/nodejs/LTS/raw/master/schedule.png)

Since this is the case, we need to either fix the error:

[code]

That happens even when you do an `

[2017-03-01 22:42] generalredneck opened #185 "aquifer build doesn't work with drush 8.1.*"
`aquifer build` builds into the project root directory if you have drush 8 installed. If you downgrade to drush 7, all is well and `aquifer build` builds into the correct directory. This is replicable on 1.0.0-beta3.

[2020-10-06 17:38] fluxsauce opened #190 "Candidate for archiving?"
Hey all, it's been a while. This project looks like it's no longer active. Shall we archive it?

[2020-10-06 18:57] chasingmaxwell commented on #190
Hey! Yeah, that seems reasonable to me. @patrickocoffeyo ?

[2020-10-06 19:02] patrickocoffeyo commented on #190
Hey @fluxsauce and @chasingmaxwell ! Yes, I think it's definitely appropriate to archive this project. There are still a number of people using Aquifer, so I'm going to leave it published on NPM, but will archive the repository.